<a href="https://colab.research.google.com/github/5chap/myPortal/blob/master/Energy_Eff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## HAMOYE STAGE B INTERNSHIP: REGRESSION

### Predicting Energy Efficiency of Buildings

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
file_path = "/content/drive/My Drive/energydata_complete.csv"
energy_dataset = pd.read_csv(file_path)
energy_data= energy_dataset.to_csv("energy_data")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
import pandas as pd
energy_dataset = pd.read_csv(file_path)

energy_dataset.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [3]:
energy_dataset.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [ ]:
# check for null attributes
energy_dataset.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [ ]:
# check for data types of all features
energy_dataset.dtypes

date            object
Appliances       int64
lights           int64
T1             float64
RH_1           float64
T2             float64
RH_2           float64
T3             float64
RH_3           float64
T4             float64
RH_4           float64
T5             float64
RH_5           float64
T6             float64
RH_6           float64
T7             float64
RH_7           float64
T8             float64
RH_8           float64
T9             float64
RH_9           float64
T_out          float64
Press_mm_hg    float64
RH_out         float64
Windspeed      float64
Visibility     float64
Tdewpoint      float64
rv1            float64
rv2            float64
dtype: object

In [17]:
energy_dataset.Appliances.sum()

1928010

In [8]:
# Drop ["date", "lights"] features
energy_dataset = energy_dataset.drop(columns = ['date', 'lights'])
energy_dataset.head(10)

   Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1          60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2          50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3          50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4          60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
5          50  19.890000  46.026667  ...   4.800000  44.919484  44.919484
6          60  19.890000  45.766667  ...   4.700000  47.233763  47.233763
7          60  19.856667  45.560000  ...   4.683333  33.039890  33.039890
8          60  19.790000  45.597500  ...   4.666667  31.455702  31.455702
9          70  19.856667  46.090000  ...   4.650000   3.089314   3.089314

[10 rows x 27 columns]

In [9]:
# create a dictionary of current and new dataset column names
new_name = {'T1':'Temp1_kitchen', 'RH_1':'Humid1_kitchen', 'T2':'Temp2_living_room', 'RH_2':'Humid2_living_room', 'T3':'Temp3_laundry_room', 'RH_3':'Humid3_laundry_room', 'T4':'Temp4_office_room', 'RH_4':'Humid4_office_room', 'T5':'Temp5_bathroom', 'RH_5':'Humid5_bathroom', 'T6':'Temp6_outside', 'RH_6':'Humid6_outside', 'T7':'Temp7_ironing_room', 'RH_7':'Humid7_ironing_room', 'T8':'Temp8_teenage_room2', 'RH_8':'Humid8_teenage_room2', 'T9':'Temp9_parents_room', 'RH_9':'Humid9_parents_room',
            'T_out':'Temp_from_wheather_station', 'Press_mm_hg':'pressure_from_wheather_station', 'RH_out':'Humid_from_wheather_station', 'Wind speed':'wind_speed_from_wheather_station', 'Visibility':'Visibility_from_wheather_station', 'Tdewpoint':'Dewpoint_from_wheather_station', 'rv1':'Random_variable1', 'rv2':'Random_variable2'
           }

In [10]:
# Rename features to make each descriptive
wheath_report = energy_dataset.rename(columns=new_name)
wheath_report.head()

   Appliances  Temp1_kitchen  ...  Random_variable1  Random_variable2
0          60          19.89  ...         13.275433         13.275433
1          60          19.89  ...         18.606195         18.606195
2          50          19.89  ...         28.642668         28.642668
3          50          19.89  ...         45.410389         45.410389
4          60          19.89  ...         10.084097         10.084097

[5 rows x 27 columns]

In [42]:
# Normalization of features
from sklearn.preprocessing import MinMaxScaler

scaled = MinMaxScaler()
norm_features = pd.DataFrame(scaled.fit_transform(wheath_report), columns=wheath_report.columns)

X_features = wheath_report.drop(columns=['Appliances'])
y_features = wheath_report['Appliances']

In [43]:
# Split dataset into training and validation dataset in the ratio .7:.3
from sklearn.model_selection import train_test_split
X_train, X_validate, y_train, y_validate = train_test_split(X_features, y_features, test_size=.3, random_state=42)

In [44]:
# Define and fit model
from sklearn.linear_model import LinearRegression

LNR_Model = LinearRegression().fit(X_train, y_train)

In [ ]:
# plot a regression graph to visualize the relationship
#import seaborn as sns
#import matplotlib.pyplot as plt
#%matplotlib inline

#sns.regplot(x=X_train, y=, data=LNR_Model)

In [72]:
# Penalization of the features
from sklearn.linear_model import Lasso, Ridge
regression_lasso = Lasso(alpha=0.001)
regression_lasso.fit(X_train, y_train)

regression_ridge = Ridge(alpha = 0.5)
regression_ridge.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6136226.8821879625, tolerance: 14642.917148544939
  positive)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [91]:
# Effects of regularization
def get_weights_data(model, feat, col_name):
  # function that returns the weight of each feature
  weight = pd.Series(model.coef_, feat.columns).sort_values()
  weights_data = pd.DataFrame(weight).reset_index()
  weights_data.columns = ['Features', col_name]
  weights_data[col_name].round(3)
  return weights_data

LNR_Model_var = get_weights_data(LNR_Model, X_train, 'LNR_Model\'s_Weight')
Ridge_weight_var = get_weights_data(regression_ridge, X_train, 'Weight for Ridge Method')
Lasso_weight_var = get_weights_data(regression_lasso, X_train, 'Weight for Lasso Method')


output_weights = pd.merge(LNR_Model_var, Ridge_weight_var, on='Features')
output_weights = pd.merge(output_weights, Lasso_weight_var, on='Features')
pd.set_option('display.max_columns', None)
output_weights.head(20)

,Features,LNR_Model's_Weight,Weight for Ridge Method,Weight for Lasso Method
0,Temp9_parents_room,-21.148452,-21.143130,-21.138361
1,Temp2_living_room,-18.370030,-18.364642,-18.363178
2,Humid2_living_room,-13.740748,-13.738282,-13.737231
3,Temp_from_wheather_station,-11.073628,-11.069608,-11.059566
4,Humid8_teenage_room2,-5.778861,-5.778752,-5.778977
5,Humid9_parents_room,-1.762680,-1.762857,-1.762338
6,Humid7_ironing_room,-1.692787,-1.692735,-1.691936
7,Temp5_bathroom,-1.600843,-1.602348,-1.601612
8,Humid_from_wheather_station,-1.093521,-1.092942,-1.091186
9,Temp1_kitchen,-0.370721,-0.371891,-0.366515
10,Random_variable1,0.016483,0.016481,0.032958
11,Random_variable2,0.016483,0.016481,0.000000
12,pressure_from_wheather_station,0.170188,0.170204,0.170206
13,Visibility_from_wheather_station,0.202586,0.202576,0.202535
14,Humid5_bathroom,0.257511,0.257538,0.257537
15,Humid6_outside,0.411649,0.411604,0.411450
16,Temp7_ironing_room,1.040631,1.038923,1.034389
17,Humid4_office_room,1.204984,1.204541,1.202900
18,Windspeed,2.230425,2.230565,2.230566
19,Temp4_office_room,2.793664,2.792302,2.788718

In [85]:
# check coefficients of determination of R squared, intercept and slope
R_sq = LNR_Model.score(X_train, y_train)
print("Coefficient of determination is: ", R_sq)

print("Intercept is: ", LNR_Model.intercept_)
print("The slope is: ", LNR_Model.coef_)

Coefficient of determination is:  0.14471942308518737
Intercept is:  1.2071642285309991
The slope is:  [-3.70720673e-01  1.63001980e+01 -1.83700295e+01 -1.37407481e+01
  2.58367429e+01  4.80316182e+00  2.79366382e+00  1.20498426e+00
 -1.60084298e+00  2.57510931e-01  7.36354686e+00  4.11648713e-01
  1.04063061e+00 -1.69278695e+00  9.99097025e+00 -5.77886090e+00
 -2.11484524e+01 -1.76267959e+00 -1.10736285e+01  1.70187889e-01
 -1.09352104e+00  2.23042487e+00  2.02585717e-01  5.70139259e+00
  1.64829984e-02  1.64829984e-02]

In [86]:
# Model Prediction
y_predicted = LNR_Model.predict(X_validate)
y_predicted

array([ 45.54761868, 271.20410666,  46.38025696, ...,  83.23836265,
       117.34588177,  71.22751965])

In [ ]:
# Evaluate the performance of the model using Mean Absolute Error
from sklearn.metrics import mean_absolute_error
 
MAE_Err = mean_absolute_error(y_validate, y_predicted)
MAE_Err

In [ ]:
# Evaluate performance using residual sum of squares (RSS)
import numpy as np
RSS = np.sum(np.square(y_validate - y_predicted))
print(round(RSS, 3))

In [94]:
# Evaluate performance using R-Squared
from sklearn.metrics import r2_score
rScore = r2_score(y_validate, y_predicted)
round(rScore,3)

0.149

In [ ]:
# Evaluate performance using Root mean square error
from sklearn.metrics import mean_squared_error 
RMSE = np.sqrt(mean_squared_error(y_validate, y_predicted))
round(RMSE,3)